<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="devlight.io.sample">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/lemon"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".views.HorizontalNtbActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".views.AddTaskActivity" />
        <activity android:name=".views.EditTask"/>

        <provider
            android:name=".components.DbContentProvider"
            android:authorities="devlight.io.sample.db_provider"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="devlight.io.sample.components.AlarmReceiver"
            android:permission="true">
            <intent-filter>
                <action android:name="TIMER_ACTION_REPEATING" />
                <action android:name="TIMER_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
